# Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.manifest

# Scrcpy Data (Downloaded Binaries)
scrcpy/
version.json
config.json
*.bak
scrcpy_help.txt
clean_help.txt

# IDEs
.vscode/
.idea/
.project
.pydevproject

# OS
Thumbs.db
Desktop.ini
.DS_Store
